/* .container{
  background-color: rgb(231, 234, 234);
  
  display: flex;
  flex-direction:row;
  align-items: center;
 
  
  box-shadow:10px 2px rgb(181, 182, 182);
  
} */

/* .left{
  font-size: 25px;
  font-weight: bold;
  margin-left: 15px;
  color: blueviolet;
  
}
.right{

} */

/*Head bar css started from here */
.header-div {
  width: 100%;
  height: 45px;
  background-color: rgb(18, 200, 200);
  
  position: sticky;
  top: 0;
  z-index: 999;
}

.container {
  height: 100%;
  padding: 0 25px;
  
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
 
  /* box-shadow:0px 3px 2px gray; */
}

.logo {
  color:rgb(7, 15, 245);
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
}

.icons {
  position: relative;
  margin-right: 15px;
 
}

.total-notifications {
  position: absolute;
  top: -8px;
  right: -5px;
  height: 16px;
  width: 16px;
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40%;
  color: white;
  font-size: 12px;


}

.right {
  display: flex;
  align-items: center;

  cursor: pointer;
  margin-right: 10px;

}
.profile{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

/*  side bar css start from here*/
.sidebar-container{
 
 display: flex;

}
.home-body{
  flex: 4;
  background-color:white;
  
}
.side-bar{
  flex: 1;
  background-color: rgb(202, 202, 202);
 height: fit-content;
 position: sticky;
 top: 45px;
 /* overflow-y:scroll; */
}
.heading{
 
  font-size: 18px;
}
.wrapper{
  padding: 20px;
  color: rgb(10, 9, 9);
  
}


.sidebar-ul{
list-style: none;
/* margin-bottom: 10px; */
padding: 5px;
}
.sidebar-list{
 
   cursor: pointer;
   display: flex;
  /* padding: 5px; */
  align-items: center;
  border-radius: 10px;
}
.sidebar-list.active , .sidebar-list:hover{
  background-color: rgb(137, 137, 137);
  border-radius:10px;
}
.sideicon{
  margin:8px;
  font-size: 20px !important;
}

/* Home css START form here */
.featured-container{
  width: 100%;

  display: flex;
  justify-content: space-between;
}



.contaner-items{
  background-color: rgb(254, 253, 253);
  /* flex: 1; */
  margin:10px 20px;
  width: 200px;

  margin-top: 10px;
  padding: 20px;
  border-radius:10px ;
  cursor: pointer;
  box-shadow: 1px 2px 2px 0px gray;

}
.money-container{
  margin-top: 5px;
  display: flex;
  align-items: center;
  margin:10px 0px
}
.feature-title{
  font-size:20px;
  color: rgb(238, 17, 205);
}
.money{
  font-size:26px;
  font-weight: 600;
}
.money-rate{
  display:flex;
  align-items: center;
  margin-left:16px;
}
.down-arrow{
  font-size: 15px;
  margin-left: 5px;
  color: red;
}
.up-arrow{
  font-size: 15px;
  margin-left: 5px;
  color: green;
}
.feature-subtitle{
  font-size: 15px;
  color: grey;
}
.chart-container{
  background-color: rgb(254, 253, 253);
  padding: 20px;
  margin: 20px;
  box-shadow: 1px 1px 2px 1px gray;
}
.chart-heading{
  margin-bottom: 20px;
}
.user-widges{
  display: flex;
  margin: 20px;
  background-color: cadetblue;
}